{
  "parserOptions" : {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx" : true
    }
  },
  "extends" : [
    "eslint:recommended"
  ],
  "rules" : {
    "strict": [
      "error", // enable 'use strict' rule
      "never"  // never requires this explicitly
    ]
  },
  "env": {
    "browser": true
  }
}